outputs/
# 忽略所有的 SfM 输出日志文件
*.log

# 忽略 SfM_htmls 文件夹及其内容
SfM_htmls/

# ignore all the log files
log_file/

# ignore debug files
debug_h5.py
count_depth_num.py

# ignore generated images
*.png
*.jpg
/__pycache__/
*/__pycache__